html,
body {
  margin: 0;
  height: 100%;
}

nav {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(
    330deg,
    rgba(226, 0, 0, 1) 0%,
    rgba(255, 208, 17, 1) 100%
  );

  button {
    cursor: pointer;
    padding: 10px 0;
    width: 170px;
    height: 60px;
    border: none;
    color: white;
    background: none;
    font-size: 20px;
    z-index: 1;
    position: relative;
    top: 0;
    transition: all 0.5s;
    overflow: hidden;

    > span::before {
      font-size: 20px;
      content: '♥️ ';
      position: absolute;
      top: 100px;
      left: 28px;
      transition: all 0.5s;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      font-size: 25px;

      > span::before {
        content: '♥️ ';
        position: absolute;
        top: 17px;
        font-size: 25px;
      }
    }
  }

  .highlight {
    left: calc(16.5% - 67px);
    top: 10px;
    width: 135px;
    height: 40px;
    border-radius: 15px;
    position: absolute;
    background: white;
    transition: all 0.5s;
  }
}

.slide {
  overflow: hidden;
  width: 100%;
  display: flex;
  height: calc(100% - 60px);
}

.page {
  transition: all 1s;
  flex-shrink: 0;
  flex-basis: 100%;
  display: inline-block;
  position: relative;
  overflow-y: scroll;
}

#rsvp {
  cursor: pointer;

  width: 170px;
  height: 60px;
  margin: 20px;
  padding: 10px 0;
  background: #4a2a3f;
  color: lightgray;
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 5px lightgray;
  font-size: 20px;
  z-index: 1;
  transition: all 0.5s;

  &:hover {
    box-shadow: -5px -5px 20px yellow, 5px 5px 20px red;
    color: darkorange;
  }

  &:focus {
    outline: none;
  }
}

#script {
  position: relative;
  align-self: flex-start;
  margin: 80px 0 80px 40px;
  font-size: 45px;
  font-family: 'Brush Script MT', cursive;
  color: lightgray;
  transform: rotate(-15deg);
  transition: all 1s;

  &:hover {
    color: gold;
  }
}

@keyframes dangle {
  from {
    transform: rotate(-20deg);
  }
  to {
    transform: rotate(20deg);
  }
}

.ornament {
  transform-origin: top;
  z-index: 2;
}

h1 {
  position: relative;
  margin-bottom: 20px;
  padding-top: 20px;
  border-bottom: 2px solid gold;
  color: white;
  text-align: center;
  font-size: 35px;
  line-height: 150%;

  &:hover {
    > .shadow {
      clip-path: polygon(
        40% 100%,
        45% 130%,
        55% 130%,
        60% 100%,
        60% 100%,
        40% 100%
      );
    }
  }

  > .shadow {
    position: absolute;
    bottom: 0;
    padding-top: 20px;
    background: yellow;
    color: black;
    clip-path: polygon(40% 0%, 45% 30%, 55% 30%, 60% 0%, 60% 100%, 40% 100%);
    transition: all 1s;
  }
}

.item {
  height: 200px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 300px;
  flex-shrink: 0;
  font-size: 30px;
  text-align: center;
  color: white;
  transition: all 1s;

  > .background {
    position: absolute;
    z-index: -1;
    width: 320px;
    height: 220px;
    transition: all 1s;
    background-size: cover;
    background-position: center;
    -webkit-transform: rotateY(0);
    backface-visibility: hidden;
  }

  &:hover {
    color: orange;

    > .background {
      transition: all 1s;
      -webkit-transform: rotateY(180deg);
    }
  }
}
